/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-standard-chip{
    background-color: #363c9e !important;
    color: white !important;
  
}

.mat-chip-list-wrapper {
    margin-top: 3px !important;
}